<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>Doggo</h1>

        <h6>Adopt dogs online :)</h6>

    </header>


    <a class= "btn btn-info" href="/dogs">  View All dogs</a>
</div>


<% include partials/footer %>
